[alias]
        d  = diff
        di = diff --cached
        pa = push --all
        co = checkout
        st = status
	ci = commit
        push-it-real-good = push -f
	dt = difftool
[color]
	interactive = auto
	diff = auto
[core]
	fsyncobjectfiles = true
	excludesfile = /Users/dbueno/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[push]
	default = simple
[guitool "stash/keeping index"]
	cmd = git stash -k -u
	noconsole = yes
[guitool "stash/pop"]
	cmd = git stash pop
	noconsole = yes
[guitool "delete file"]
	cmd = rm \"$FILENAME\"
	needsfile = yes
        confirm = yes
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[difftool "vimdiff"]
	path = vimdiff

[include]
        path = ~/.gitconfig_personal
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main

[http]
	cookiefile = /Users/dbueno/.gitcookies
	savecookies = true
