[alias]
        di = diff --cached
        pa = push --all
        co = checkout
        st = status
	ci = commit
[color]
	interactive = auto
	diff = auto
[core]
	fsyncobjectfiles = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[push]
	default = simple
