[submodule "bundle/tpope-vim-pathogen"]
	path = bundle/tpope-vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/tpope-vim-fugitive"]
	path = bundle/tpope-vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/sjl-gundo"]
	path = bundle/sjl-gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/nanotech-jellybeans"]
	path = bundle/nanotech-jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/majutsushi-tagbar"]
	path = bundle/majutsushi-tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/scrooloose-syntastic"]
	path = bundle/scrooloose-syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tpope-vim-vinegar"]
	path = bundle/tpope-vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "bundle/bling-vim-airline"]
	path = bundle/bling-vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/MarcWeber-vim-addon-mw-utils"]
	path = bundle/MarcWeber-vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/MarcWeber-vim-addon-goto-thing-at-cursor"]
	path = bundle/MarcWeber-vim-addon-goto-thing-at-cursor
	url = https://github.com/MarcWeber/vim-addon-goto-thing-at-cursor.git
[submodule "bundle/MarcWeber-vim-addon-errorformats"]
	path = bundle/MarcWeber-vim-addon-errorformats
	url = https://github.com/MarcWeber/vim-addon-errorformats.git
[submodule "bundle/tomtom-tlib_vim"]
	path = bundle/tomtom-tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/ajh17-Spacegray.vim"]
	path = bundle/ajh17-Spacegray.vim
	url = https://github.com/ajh17/Spacegray.vim.git
[submodule "bundle/_chriskempson-tomorrow-theme"]
	path = bundle/_chriskempson-tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme
[submodule "bundle/goatslacker-mango.vim"]
	path = bundle/goatslacker-mango.vim
	url = https://github.com/goatslacker/mango.vim
[submodule "bundle/junegunn-seoul256.vim"]
	path = bundle/junegunn-seoul256.vim
	url = https://github.com/junegunn/seoul256.vim
[submodule "bundle/chriskempson-base16-vim"]
	path = bundle/chriskempson-base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "bundle/derekwyatt-vim-scala"]
	path = bundle/derekwyatt-vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/victoredwardocallaghan-cryptol.vim"]
	path = bundle/victoredwardocallaghan-cryptol.vim
	url = https://github.com/victoredwardocallaghan/cryptol.vim.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/vimtex"]
	path = bundle/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "bundle/vim-deus"]
	path = bundle/vim-deus
	url = https://github.com/ajmwagar/vim-deus.git
[submodule "bundle/vhda-verilog_systemverilog.vim"]
	path = bundle/vhda-verilog_systemverilog.vim
	url = https://github.com/vhda/verilog_systemverilog.vim.git
[submodule "bundle/godlygeek-tabular"]
	path = bundle/godlygeek-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-airline-vim-airline-themes"]
	path = bundle/vim-airline-vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = https://github.com/dracula/vim.git
[submodule "bundle/tpope-vim-surround"]
	path = bundle/tpope-vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/tpope-vim-repeat"]
	path = bundle/tpope-vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/guns-vim-sexp"]
	path = bundle/guns-vim-sexp
	url = https://github.com/guns/vim-sexp.git
[submodule "bundle/tpope-vim-sexp-mappings-for-regular-people"]
	path = bundle/tpope-vim-sexp-mappings-for-regular-people
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people.git
[submodule "bundle/vim-euforia"]
	path = bundle/vim-euforia
	url = git@github.com:greedy/vim-euforia.git
