# -*- mode: conf -*-
# Readline configuration file

### Settings

# Use visible bell if available.
set bell-style visible

# Immediately show all TAB-completions -- don't require two TABs.
# set show-all-if-ambiguous on

# Show status of completed filenames, like ls -F does.
set visible-stats on

set completion-ignore-case on

# comment in to make C-j prefix commands with time
# "\C-j": "\C-atime \C-m"
